<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <!-- Le styles -->
        <link href="~/Content/bootstrap/css/metro-bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="~/Content/bootstrap/ico/house.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/Content/bootstrap/ico/apple-touch-icon-57-precomposed.png">   
        

        @Styles.Render("~/bundles/modernizr")


    </head>

    <body>
        
        @Html.Partial("_NavBarPartial")

        <div class="container">
            
            @RenderSection("hero", required: false)           

            @RenderBody()
            
            @Html.Partial("_footerPartial")
        </div>
        
        @*        @Styles.Render("~/bundles/jquery")        
        @Styles.Render("~/bundles/bootstrap")*@

        
        <script src="/Scripts/lib/jquery-1.8.2.js"></script>
        <script src="/Content/bootstrap/js/bootstrap.js"></script>


        <script type="text/javascript" src="/Scripts/main.js"></script>

    </body>
</html>
